#Configuration Start
[Display]
ID = 0

[Global]
ReferenceDarkPicModeIndex = 2
IDK_Version = SW_4.5
DMSwVersion = 4.0
DeviceModelName = Kalamaforarm64

Tmax = 600
Tmin = 0.005
TPrimaries = 0.6800 0.3200 0.2650 0.6900 0.1500 0.0600 0.3127 0.3290
TEOTF = POWER
Tgamma = 2.4

Ambient = 3
TSurroundReflection = 0.5
TScreenReflection = 0.0005
ALDelayMilliSec = 50
ALResponseFall = 0.004
ALResponseRise = 0.02
ALOperationalRate = 50
TFrontLux = 1000
TFrontLuxScale = 1

BLUPwm = 10 64 128 192 255
BLULight = 11.8237 121.608 421.741 571.216 609.511
BLULightMin = 0.0001 0.0001 0.0001 0.0001 0.0001

[PictureMode = 0]
PictureModeName = Dolby Vision Bright
DBrightness = 0.3

[PictureMode = 1]
PictureModeName = Dolby Vision Vivid
DBrightness = 0.3
DSaturation = 0.1

[PictureMode = 2]
PictureModeName = Dolby Vision Dark
SupportsDM3 = 1
Ambient = 0
#Configuration End
